/*--------------------------------------------------------------
## Pricing - Institutions
--------------------------------------------------------------*/
.page-id-19186 .site-header {
    background-color: #19AD4A !important;
}					
.page-id-19186 .mobile-submenu .btn-white {
	border: 2px solid #fff;
}