section.recruiter-success-story-main-banner {
    background-color: #19AD4A;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}

.recruiter-success-story-main-banner-inner {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 480px;
    z-index: 1;
    position: relative;
}

.recruiter-success-story-main-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #293b4a;
    opacity: 0.5;
    z-index: 0;
}

.recruiter-success-story-main-banner-content {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recruiter-success-story-main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 50px;
}

p.case-study {
    color: #FFF;
    font-family: "DM Sans", DM Sans;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    z-index: 1;
    text-transform: uppercase;
    margin: 0;
    padding-left: 45px;
}

h1.recruiter-name {
    color: #FFFFFF;
    font-family: "DM Sans", DM Sans;
    font-size: 56px;
    font-weight: 500;
    line-height: 70px;
    border-left: 1px solid #fff;
    padding-left: 45px;
}

p.recruiter-country {
    padding-left: 45px;
    color: #FFFFFF;
    font-family: "DM Sans", DM Sans;
    font-size: 28px;
    line-height: 1.4em;
    margin: unset;
}

a.talk-to-us-button {
    margin-left: 45px;
    font-family: "DM Sans", DM Sans;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.5px;
    fill: #fff;
    color: #fff;
    background-color: #19ad4a;
    border-style: solid;
    border-color: #19ad4a;
    border-radius: 0px 0px 0px 0px;
    padding: 16px 64px 16px 64px;
    width: fit-content;
    margin-top: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

a.talk-to-us-button:hover {
    color: #19ad4a;
    background-color: #00000000;
    border-color: #19ad4a;
}

img.recruiter-country-flag {
    width: 100%;
    max-width: 200px;
    filter: drop-shadow(20px 20px 0px #FFFFFF80);
    margin-right: 20px;
}

p.recruiter-country-name {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #F1F3F5;
    margin-top: 45px;
    text-transform: uppercase;
    width: 220px;
    text-align: center;
}

section.recruiter-success-story-content-wrapper {
    background-color: #f5f5f5;
    padding: 100px 0;
}

.recruiter-success-story-content-inner {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 80px;
}

.recruiter-success-story-highlight {
    background-color: #fff;
    height: fit-content;
    border-radius: 9px;
    padding-bottom: 30px;
}

.recruiter-logo-wrapper {
    background-color: #293b4a;
    padding: 60px 80px;
    border-radius: 9px 9px 0px 0px;
}

img.recruiter-logo {
    width: 100%;
}

div.recruiter-success-story-highlight h3.section-heading {
    margin: 0 40px;
    padding: 40px 0px 10px 0px;
    color: #19ad4a;
    font-family: "DM Sans", DM Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 42px;
    border-bottom: 1px solid;
}

ol.recruiter-story-highlights {
    margin: 0 40px;
    padding: 10px;
}

li.recruiter-story-highlight {
    color: #293b4a;
    font-family: "DM Sans", DM Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 40px;
    margin-bottom: 20px;
}

.recruiter-success-story-content p, 
.recruiter-success-story-content span, 
.recruiter-success-story-content li {
    color: #293b4a;
    font-family: "DM Sans", DM Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.recruiter-success-story-content a {
    color: #19ad4a;
    font-family: "DM Sans", DM Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.recruiter-success-story-content h3.section-heading {
    color: #19ad4a;
    font-size: 24px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 0;
    border-bottom: 1px solid #19ad4a;
    padding-bottom: 20px;
}

.success-story-cards {
    margin-top: 150px;
}

.recruiter-success-story-content-solution,
.recruiter-success-story-content-overcome {
    margin-top: 50px;
}

@media screen and (max-width: 991px) {
    .recruiter-success-story-content-inner {
        width: 90%;
        grid-template-columns: 1fr;
    }

    .recruiter-success-story-main-banner-inner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    p.case-study {
        text-align: center;
        padding-left: unset;
    }
    
    .recruiter-success-story-main-banner {
        padding-right: unset;
        align-items: center;
    }
    
    h1.recruiter-name {
        text-align: center;
        padding-left: unset;
        border: unset;
        font-size: 36px;
        line-height: 42px;
    }
    
    p.recruiter-country {
        text-align: center;
        padding-left: unset;
        font-size: 22px;
        line-height: 26px;
    }
    
    .recruiter-success-story-main-banner-content {
        margin: unset;
    }
    
    a.talk-to-us-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.recruiter-country-flag {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: unset;
        filter: unset;
        object-fit: cover;
    }

    p.recruiter-country-name {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    
}