/*--------------------------------------------------------------
## Support and Training
--------------------------------------------------------------*/

.page-id-4703 .mobile-submenu {
    background-color: #293B4A !important;
}

.cta-extra-column {
    width: calc( 50vw - 690px)!important;
}