.elementor-28973 .elementor-element.elementor-element-68f344a:not(.elementor-motion-effects-element-type-background), .elementor-28973 .elementor-element.elementor-element-68f344a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#293B4A;}.elementor-28973 .elementor-element.elementor-element-68f344a{box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-28973 .elementor-element.elementor-element-68f344a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-28973 .elementor-element.elementor-element-cdacb3d > .elementor-container{max-width:1380px;}.elementor-28973 .elementor-element.elementor-element-cdacb3d > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-28973 .elementor-element.elementor-element-cdacb3d:not(.elementor-motion-effects-element-type-background), .elementor-28973 .elementor-element.elementor-element-cdacb3d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#293B4A;}.elementor-28973 .elementor-element.elementor-element-cdacb3d{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:70px 0px 70px 0px;}.elementor-28973 .elementor-element.elementor-element-cdacb3d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-28973 .elementor-element.elementor-element-8292f99.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-28973 .elementor-element.elementor-element-8292f99 > .elementor-element-populated{margin:0px 0px 0px 30px;--e-column-margin-right:0px;--e-column-margin-left:30px;}.elementor-28973 .elementor-element.elementor-element-8292f99 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-90e2ba3{text-align:left;}.elementor-28973 .elementor-element.elementor-element-90e2ba3 .elementor-heading-title{color:#FFFFFF;font-family:"DM Sans", DM Sans;font-size:62px;font-weight:500;-webkit-text-stroke-color:#000;stroke:#000;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-28973 .elementor-element.elementor-element-90e2ba3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 50px;border-style:solid;border-width:0px 0px 0px 1px;border-color:#F5F5F5;border-radius:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-da3f9d7{text-align:left;}.elementor-28973 .elementor-element.elementor-element-da3f9d7 .elementor-heading-title{color:#FFFFFF;font-family:"DM Sans", DM Sans;font-size:28px;font-weight:500;-webkit-text-stroke-color:#000;stroke:#000;}.elementor-28973 .elementor-element.elementor-element-da3f9d7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 050px;}.elementor-28973 .elementor-element.elementor-element-b056e7f > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-4df0c01{text-align:center;}.elementor-28973 .elementor-element.elementor-element-773cb3f:not(.elementor-motion-effects-element-type-background), .elementor-28973 .elementor-element.elementor-element-773cb3f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F3F5;}.elementor-28973 .elementor-element.elementor-element-773cb3f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 30px 0px;}.elementor-28973 .elementor-element.elementor-element-773cb3f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-28973 .elementor-element.elementor-element-10e0530 > .elementor-widget-container{background-color:#F1F5F3;}.elementor-28973 .elementor-element.elementor-element-09675a0{text-align:center;}.elementor-28973 .elementor-element.elementor-element-09675a0 .elementor-heading-title{color:#293B4A;font-family:"DM Sans", DM Sans;font-weight:bold;line-height:1.5em;-webkit-text-stroke-width:0px;stroke-width:0px;-webkit-text-stroke-color:#000;stroke:#000;}.elementor-28973 .elementor-element.elementor-element-09675a0 > .elementor-widget-container{padding:20px 0px 0px 0px;background-color:#F1F5F3;}.elementor-28973 .elementor-element.elementor-element-561dab5:not(.elementor-motion-effects-element-type-background), .elementor-28973 .elementor-element.elementor-element-561dab5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F3F5;}.elementor-28973 .elementor-element.elementor-element-561dab5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:20px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-561dab5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-28973 .elementor-element.elementor-element-3312424{padding:0px 0px 20px 0px;}.elementor-bc-flex-widget .elementor-28973 .elementor-element.elementor-element-7754b54.elementor-column .elementor-column-wrap{align-items:center;}.elementor-28973 .elementor-element.elementor-element-7754b54.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-28973 .elementor-element.elementor-element-7754b54 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-28973 .elementor-element.elementor-element-7754b54 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-28973 .elementor-element.elementor-element-7754b54 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 30px;}.elementor-28973 .elementor-element.elementor-element-58257d1 .elementor-heading-title{color:#293B4A;font-family:"DM Sans", DM Sans;font-size:22px;font-weight:700;}.elementor-28973 .elementor-element.elementor-element-58257d1 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-672ab14{text-align:left;}.elementor-28973 .elementor-element.elementor-element-672ab14 .elementor-heading-title{color:#293B4A;font-family:"DM Sans", DM Sans;font-size:15px;font-weight:normal;}.elementor-28973 .elementor-element.elementor-element-672ab14 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-3294177{padding:0px 0px 20px 0px;}.elementor-bc-flex-widget .elementor-28973 .elementor-element.elementor-element-7652433.elementor-column .elementor-column-wrap{align-items:center;}.elementor-28973 .elementor-element.elementor-element-7652433.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-28973 .elementor-element.elementor-element-7652433 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-28973 .elementor-element.elementor-element-7652433 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-28973 .elementor-element.elementor-element-7652433 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-90e865b .elementor-heading-title{color:#293B4A;font-family:"DM Sans", DM Sans;font-size:22px;font-weight:700;}.elementor-28973 .elementor-element.elementor-element-90e865b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 30px;}.elementor-28973 .elementor-element.elementor-element-1b134f4{padding:0px 0px 20px 0px;}.elementor-bc-flex-widget .elementor-28973 .elementor-element.elementor-element-9621f2a.elementor-column .elementor-column-wrap{align-items:center;}.elementor-28973 .elementor-element.elementor-element-9621f2a.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-28973 .elementor-element.elementor-element-9621f2a > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-28973 .elementor-element.elementor-element-9621f2a > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-28973 .elementor-element.elementor-element-9621f2a > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 30px;}.elementor-28973 .elementor-element.elementor-element-3fab481 .elementor-heading-title{color:#293B4A;font-family:"DM Sans", DM Sans;font-size:22px;font-weight:700;}.elementor-28973 .elementor-element.elementor-element-3fab481 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-f0adf8b{text-align:left;}.elementor-28973 .elementor-element.elementor-element-f0adf8b .elementor-heading-title{color:#293B4A;font-family:"DM Sans", DM Sans;font-weight:normal;}.elementor-28973 .elementor-element.elementor-element-f0adf8b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-8f7980e{padding:0px 0px 20px 0px;}.elementor-28973 .elementor-element.elementor-element-f8cf8bb{color:#7A7A7A;font-family:"DM Sans", DM Sans;font-size:20px;font-weight:400;}.elementor-28973 .elementor-element.elementor-element-f8cf8bb > .elementor-widget-container{margin:2px 2px 2px 2px;padding:5px 5px 5px 5px;border-radius:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-d780b8c{padding:0px 0px 20px 0px;}.elementor-bc-flex-widget .elementor-28973 .elementor-element.elementor-element-fee92a2.elementor-column .elementor-column-wrap{align-items:center;}.elementor-28973 .elementor-element.elementor-element-fee92a2.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-28973 .elementor-element.elementor-element-fee92a2 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-28973 .elementor-element.elementor-element-fee92a2 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-28973 .elementor-element.elementor-element-fee92a2 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 30px;}.elementor-28973 .elementor-element.elementor-element-fff2648 .elementor-heading-title{color:#293B4A;font-family:"DM Sans", DM Sans;font-size:22px;font-weight:700;}.elementor-28973 .elementor-element.elementor-element-fff2648 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-22c56c4{text-align:left;}.elementor-28973 .elementor-element.elementor-element-22c56c4 .elementor-heading-title{color:#293B4A;font-family:"DM Sans", DM Sans;font-weight:normal;}.elementor-28973 .elementor-element.elementor-element-22c56c4 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-48ce48d{padding:0px 0px 20px 0px;}.elementor-bc-flex-widget .elementor-28973 .elementor-element.elementor-element-a0b0c83.elementor-column .elementor-column-wrap{align-items:center;}.elementor-28973 .elementor-element.elementor-element-a0b0c83.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-28973 .elementor-element.elementor-element-a0b0c83 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-28973 .elementor-element.elementor-element-a0b0c83 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-28973 .elementor-element.elementor-element-a0b0c83 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 30px;}.elementor-28973 .elementor-element.elementor-element-6f266a6 .elementor-heading-title{color:#293B4A;font-family:"DM Sans", DM Sans;font-size:22px;font-weight:700;}.elementor-28973 .elementor-element.elementor-element-6f266a6 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-69c37d4{text-align:left;}.elementor-28973 .elementor-element.elementor-element-69c37d4 .elementor-heading-title{color:#293B4A;font-family:"DM Sans", DM Sans;font-weight:normal;}.elementor-28973 .elementor-element.elementor-element-69c37d4 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-f0c5df0{padding:0px 0px 20px 0px;}.elementor-28973 .elementor-element.elementor-element-53b2ed7 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-28973 .elementor-element.elementor-element-6a898b2.elementor-column .elementor-column-wrap{align-items:center;}.elementor-28973 .elementor-element.elementor-element-6a898b2.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-28973 .elementor-element.elementor-element-6a898b2 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-28973 .elementor-element.elementor-element-6a898b2 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-28973 .elementor-element.elementor-element-6a898b2 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 30px;}.elementor-28973 .elementor-element.elementor-element-32c232f{text-align:left;}.elementor-28973 .elementor-element.elementor-element-32c232f .elementor-heading-title{color:#293B4A;font-family:"DM Sans", DM Sans;font-weight:normal;}.elementor-28973 .elementor-element.elementor-element-32c232f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-7c81ad5:not(.elementor-motion-effects-element-type-background), .elementor-28973 .elementor-element.elementor-element-7c81ad5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#293B4A;}.elementor-28973 .elementor-element.elementor-element-7c81ad5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-28973 .elementor-element.elementor-element-7c81ad5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-28973 .elementor-element.elementor-element-d7e27d7 > .elementor-container{max-width:1380px;}.elementor-28973 .elementor-element.elementor-element-d7e27d7{margin-top:100px;margin-bottom:100px;}.elementor-28973 .elementor-element.elementor-element-a1c24f3 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 160px 0px 0px;}.elementor-28973 .elementor-element.elementor-element-fe19b36{color:#FFFFFF;}.elementor-28973 .elementor-element.elementor-element-fe19b36 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 60px;}.elementor-28973 .elementor-element.elementor-element-e212b51 .elementor-heading-title{color:#FFFFFF;font-family:"DM Sans", DM Sans;font-size:42px;font-weight:700;line-height:48px;-webkit-text-stroke-color:#000;stroke:#000;}.elementor-28973 .elementor-element.elementor-element-e212b51 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:30px 0px 0px 60px;border-style:solid;border-width:0px 0px 0px 1px;border-color:var( --e-global-color-2e035450 );}.elementor-28973 .elementor-element.elementor-element-91a973c > .elementor-element-populated > .elementor-widget-wrap{padding:0px 30px 0px 30px;}.elementor-28973 .elementor-element.elementor-element-d36874d .elementor-accordion-item{border-width:0px;border-color:#FFCD00;}.elementor-28973 .elementor-element.elementor-element-d36874d .elementor-accordion-item .elementor-tab-content{border-width:0px;border-top-color:#FFCD00;}.elementor-28973 .elementor-element.elementor-element-d36874d .elementor-accordion-item .elementor-tab-title.elementor-active{border-width:0px;border-bottom-color:#FFCD00;}.elementor-28973 .elementor-element.elementor-element-d36874d .elementor-accordion-icon, .elementor-28973 .elementor-element.elementor-element-d36874d .elementor-accordion-title{color:#FFFFFF;}.elementor-28973 .elementor-element.elementor-element-d36874d .elementor-accordion-icon svg{fill:#FFFFFF;}.elementor-28973 .elementor-element.elementor-element-d36874d .elementor-accordion-title{font-family:"DM Sans", DM Sans;font-size:20px;font-weight:700;line-height:28px;}.elementor-28973 .elementor-element.elementor-element-d36874d .elementor-tab-title{padding:10px 0px 10px 0px;}.elementor-28973 .elementor-element.elementor-element-d36874d .elementor-tab-title .elementor-accordion-icon i:before{color:#FFCD00;}.elementor-28973 .elementor-element.elementor-element-d36874d .elementor-tab-title .elementor-accordion-icon svg{fill:#FFCD00;}.elementor-28973 .elementor-element.elementor-element-d36874d .elementor-tab-content{color:#FFFFFF;font-family:"DM Sans", DM Sans;font-size:20px;font-weight:400;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}@media(max-width:767px){.elementor-28973 .elementor-element.elementor-element-90e2ba3 .elementor-heading-title{font-size:46px;}.elementor-28973 .elementor-element.elementor-element-58257d1 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-28973 .elementor-element.elementor-element-2a336d8{width:100%;}.elementor-28973 .elementor-element.elementor-element-e67ba46{width:15.633%;}.elementor-28973 .elementor-element.elementor-element-7754b54{width:84.367%;}.elementor-28973 .elementor-element.elementor-element-d5ae386{width:15.633%;}.elementor-28973 .elementor-element.elementor-element-7652433{width:84.367%;}.elementor-28973 .elementor-element.elementor-element-d760b30{width:15.633%;}.elementor-28973 .elementor-element.elementor-element-9621f2a{width:84.367%;}.elementor-28973 .elementor-element.elementor-element-a842a67{width:15.633%;}.elementor-28973 .elementor-element.elementor-element-fee92a2{width:84.367%;}.elementor-28973 .elementor-element.elementor-element-42988c1{width:15.633%;}.elementor-28973 .elementor-element.elementor-element-a0b0c83{width:84.367%;}.elementor-28973 .elementor-element.elementor-element-53b2ed7{width:15.633%;}.elementor-28973 .elementor-element.elementor-element-6a898b2{width:84.367%;}}/* Start custom CSS for html, class: .elementor-element-10e0530 */.pricing-page .lines .elementor-widget-container div:nth-child(1) {
    border-left: 0;
}

.pricing-page .lines .elementor-widget-container div {
    border-left: 1px solid #ADB3B8;
    opacity: 0.3;
}

.pricing-page {
    background: #fff;
    overflow: hidden;
}
.free-text-top{
    padding-top: 82px;
    padding-bottom: 30px;
}
.headerBottom {
    width: 100%;
    height: 375px;
    clear: both;
    display: block;
    background: #293B4A;
    overflow: hidden;
}

.header-bottom-inner {
    width: 1440px;
    height: 372px;
    margin: auto;
}

.pricing-heading {
    width: 45%;
    margin-left: 30px;
    float: left;
}

.pricing-heading .main-heading-container {
    border-left: 2px solid #ffffff;
    padding-left: 56px;
    margin-top: 125px;
}

.pricing-heading .main-heading {
    color: #FFF;
    font-family: "DM Sans", serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px; /* 125% */
}

.pricing-heading .sub-heading-container {
    padding-left: 56px;
    padding-top: 18px;
    /*padding-bottom: 90px;*/
}

.pricing-heading .sub-heading {
    color: #FFF;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
}

.pricing-large-icon {
    width: 50%;
    float: left;

}
.inner-right{
    margin: 50px 24px 90px 60px;
    /*border-right: 1px solid #ffffff;*/
}
.inner-content-right
{
    border-left: 1px solid #ffffff;
    padding-left: 60px;
}

.icon-large-pricing {
    margin-left: 120px;
    margin-top: 70px;
    z-index: 100;
}

.pricing-body {
    background: #F1F5F3;
    clear: both;
    overflow: hidden;
    width:100%
}

.pricing-body .pricing_content {
    width:100%;
    margin: 133px auto 0;
    border-radius: 24px;
    background: #FFCD00;
    position: relative;
    height: 580px;
    z-index: 1;
    display: flex;
  flex-direction: column;
}

.pricing_content .pricing-content-icon {
    position: absolute;
    top: -76.5px;
    left: 44%;
}
.inner-content-div
{
    background: #293B4A;
}
.pricing_content-inner-left {
    float: left;
    width: 50%;
    /*padding: 50px 50px 89px 60px;*/
    /*background: #293B4A;*/
}

.pricing_content-inner-left .text-top, .pricing_content-inner-right .text-top {
    clear: both;
    overflow: hidden;
    width: 100%;
    margin: auto;

}
.top-free-text{
    padding-top: 90px;
    padding-bottom: 20px;
    padding-left: 60px;
}

.text-top .free-text {
    /*width: 20%;*/
    float: left;
    color: #293B4A;
    text-align: center;
    font-family: "DM Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 10px;
    /*margin-left: 22px;*/
    line-height: 1;
        text-transform: uppercase;
       
}
.text-top .subscription-text {
      width: 75%;
    float: left;
    color: #293B4A;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 0 0 0.5rem;

}



.pricing_content-inner-right {
    /*border-left: 2px solid #fff;*/
    float: left;
    width: 50%;
    /*padding: 50px 60px;*/
    /*background: #293B4A;*/
}
.inner-content-right{
    margin:50px 24px 51px 0px;
}

.text-top .text-percentage {
    color: #FFCD00;
    width: 30%;
    float: left;
    font-family: "DM Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 1;
}

.text-top .commission-text {
    width: 70%;
    float: left;
    color: #fff;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  padding-left: 2rem;
}

.text-top .premium-text{
        color: #FFE570;
}

.pricing_content-inner-right .text-bottom,.pricing_content-inner-left .text-bottom {
    color: #fff;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pricing_content-inner-right .right-premium-partner{
    background: transparent;border-width:0.5px;border-style:dashed; border-radius: 4px; flex: 2; color: #fff; align-content: center; margin-left: -61px; padding-left: 56px; margin-top: 6px; margin-bottom: 9px;
}

.pricing_content-inner-right .text-bottom .second-text,.pricing_content-inner-left .text-bottom .second-text {
    margin-top: 20px;
}
.signup-button-container{
    text-align:center;
}
.signup-button {
    color: #293B4A;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    margin-top: 21px;
        border: 2px solid;
    padding: 6px 18px;
}

.page-main-heading {
    width: 50%;
    display: block;
    clear: both;
    overflow: hidden;
    margin: auto;
}

.page-main-heading h1 {
    color: #293B4A;
    text-align: center;
    font-family: "DM Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    padding-top: 50px;
}

.price-page-list-container {
    width: 75%;
    clear: both;
    overflow: hidden;
    margin: auto;
    padding: 50px 0 100px;
}

.price-page-list-container .left {
    width: 48%;
    float: left;
}

.price-page-list-container .right {
    width: 48%;
    float: left;
}

.price-page-list-container ul li {
    color: #293B4A;
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: none;
    position: relative;
    /*list-style-image:url("/wp-content/themes/adventusio/images/list-icon.svg") ;*/
    /*display: inline-block;*/
}

.price-page-list-container ul > li::before {
    content: url("../../../../index.html");
    font-size: 2rem;
    line-height: 0;
    margin: 0 1em 0 -1em;
    position: absolute;
    top: 9px;
}

.price-page-list-container ul li div {
    margin-left: 35px;
}

.price-page-list-container ul li span.small {
    color: #293B4A;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
}

.price-page-list-container ul li span.normal {
    color: #293B4A;
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price-page-list-container ul li span.small-bold {
    color: #293B4A;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price-page-list-container ul li span.small-italic {
    color: #293B4A;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22.5px; /* 140.625% */
}

.price-page-list-container ul li span.red-text {
    color: #19AD4A;
}

.price-page-list-container ul li span.strikethrough {
    text-decoration: line-through;
}

.price-page-list-container .left ul li {
    padding-bottom: 73px;
}

.price-page-list-container .right ul li {
    padding-bottom: 25px;
}

.price-page-list-container .left ul li:last-child {
    padding-bottom: 0;
}

.price-page-list-container .left ul {
    margin-bottom: 0;
}

.premium-container {
    width: 92%;
    clear: both;
    display: block;
    overflow: hidden;
    border-radius: 12px;
    border: 0.5px solid #293B4A;
    background: #FFF;
    margin: 20px 0 0 58px;
}

.premium-container .batch {
    width: 25%;
    float: left;
    padding: 25px 23px 16px 37px;
}

.premium-container .text {
    width: 75%;
    float: left;
    color: #293B4A;
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px 25px 0 3px;
}

.premium-container .text a {
    color: #19AD4A;
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

@media screen and (max-width: 567px) {
    .elementor-column.elementor-col-33.elementor-inner-column.elementor-element.elementor-element-48b8488 {
        width: unset !important;
        min-width: 250px !important;
    }
      .pricing_content .pricing-content-icon{
        left:  30% !important;
    }
    
}

@media screen and (max-width: 1690px) {
    .pricing-body .pricing_content {
        width: 100%;
    }
}

@media screen and (max-width: 1480px) {
    .pricing-body .pricing_content {
        width: 90%;
    }

    .header-bottom-inner {
        width: 90%;
    }

    .premium-container .batch {
        padding: 25px 23px 16px 10px;
    }
}

@media screen and (max-width: 1300px) {
    .pricing-large-icon {
        display: none;
    }

    .header-bottom-inner, .headerBottom {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .pricing-heading {
        width: 100%;
        clear: both;
        float: none;
        margin: auto;
        padding-bottom: 120px;
    }

    .pricing_content-inner-left {
        padding: 0 25px;
    }

    .text-top .free-text {
        width: 170px;
        /*margin: auto;*/
        float: left;
        /*color: #FFCD00;*/
    }

    .text-top .subscription-text {
        padding: 0;
        width: 81%;
        float: left;
        text-align: left;
    }

    .pricing_content-inner-left .text-bottom {
        padding: 30px 0 0 0;
        text-align: left;
    }

    .text-top .text-percentage {
        width: 100%;
        float: none;
        padding: 0 0 0 0;
    }

    .pricing_content-inner-right {
        padding: 0 25px;
    }

    .pricing-body .pricing_content {
        height: 580px;
    }

    .text-top .commission-text {
        width: 100%;
        float: none;
        padding: 15px 0 0 0;
    }

    .price-page-list-container {
        width: 100%
    }
    .inner-right
    {
        margin:50px 24px 38px 60px;
    }
 
    .top-free-text
    {
        padding-left:0px !important;
    }


}

@media screen and (max-width: 900px) {
    .pricing_content-inner-left, .pricing_content-inner-right {
        width: 100%;
        float: none;
        margin: auto;
        border: 0;
    }
    .pricing-body .pricing_content {
        height: 528px;
    }
    .inner-content-right
    {
        padding:0px;
        border-left:0;
       border-top: 1px solid #fff;
       margin-top:0px;
    }
     .pricing_content-inner-right .right-premium-partner
    {
        margin-left: -57px !important;
    }
    .inner-right{
        border-right: 0;
        margin: 0;
        
        padding-bottom: 10px;
    }

   

    .pricing-body .pricing_content {
        height: auto;
        padding-bottom: 50px;
        display: block;
    }
    .signup-button-container{
        width: 250px;
        margin: auto;
    }

    .text-top .free-text {
        width: 170px;
        margin: auto;
        float: none;
    }

    .text-top .subscription-text {
        padding: 25px 0 0 0;
        width: 100%;
        float: none;
        text-align: center;
    }

    .pricing_content-inner-left .text-bottom, .pricing_content-inner-right .text-bottom {
        padding: 30px 0 0 0 ! important;
        /*text-align: center;*/
    }

    .text-top .text-percentage {
        width: 100%;
        float: none;
        padding: 50px 0 0 0;
        /*text-align: center;*/
    }


    .text-top .commission-text {
        width: 100%;
        float: none;
        padding: 15px 0 0 0;
        /*text-align: center;*/
    }

    .pricing_content-inner-right .text-bottom{
        /*text-align: center;*/
    }

    .price-page-list-container {
        width: 90%
    }

    .pricing_content .pricing-content-icon{
        left:  35%;
    }
    .page-main-heading{
        width: 90%
    }
    .price-page-list-container .left, .price-page-list-container .right{
        width: 100%;
        float: none;
    }

    .price-page-list-container .left ul li, .price-page-list-container .right ul li
    ,.price-page-list-container .left ul li:last-child{
        padding-bottom: 25px;
    }
    .price-page-list-container ul > li::before{
        margin: -10px 1em 0 -1em;
    }
    .premium-container{
        display: none;
    }
    .price-page-list-container ul{
        margin-left: 0;
    }
}

   @media screen and (max-width: 680px) {
    
    .pricing_content-inner-right .image-wrapper img{
        margin-top: 1rem;
        
    }    
    }/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-f8cf8bb */.premium-program-text {    background: #19AD1A; border-width: 1px 0px; border-radius: 4px; flex: 2; color: #fff; align-content: center; margin-left: -61px; padding-left: 55px; margin-top: 6px; margin-bottom: 10px;}@media screen and (max-width: 1300px) {    .premium-program-text {    background: #19AD1A; border-width: 1px 0px; border-radius: 4px; flex: 2; color: #fff; align-content: center; margin-left: -41px; padding-left: 46px !important; margin-top: 6px; margin-bottom: 9px;}}/* End custom CSS */
/* Start custom CSS */.sticky-column { 
    position: sticky; 
    position: -webkit-sticky;
    top: 3rem;
}
.sticky-parent .elementor-widget-wrap {
    display: block !important;
}/* End custom CSS */